body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}

.col-left{
    background-color: #4D6674;
    flex: 70%;   
}

.col-right{
    background-color: #324D5d;
    flex: 30%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.right-box{
    flex: 1;
    align-items: center;
    align-self: flex-end;
}